/* all element css */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #d9dcd6;
}

/* header */
.header {
    padding: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:#0072bb;
    color: #ffffff;
}

.header h1 {
    display: inline-block;
    font-size: 150%;
    color: #ffffff;
    font-size: 200%;
}

/* nav bar link layout + link attributes */
.header nav {
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 150%;
}

.header nav ul {
    list-style-type: none;
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a {
    color: #ffffff;
    text-decoration: none;
}
      
a:active {
color: #000000;
background-color: #ffffff;
}

/* Main site image  */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/* Below is all css for main/content elements */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

.main-page-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
    width: 100%;
    display: inline-block;
}

.main-page-content img {
    max-height: 200px;
}

.main-page-content h2 {
    margin-bottom: 20px;
    font-size: 200%;
}

.main-page-content p {
    font-size: 140%;
}
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

/* Below is all CSS for side bar elements */
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    text-align: center;
    margin-bottom: 32px;
    color: #ffffff;
}

.benefits h3 {
    margin-bottom: 10px;
    text-align: center;
    font-size: 160%;
}

.benefits img {
    display: block;
    margin: 10px auto;
    max-width: 50%;
}

.benefits p {
    font-size: 110%;
    padding-bottom: 15px;
}

/* Footer */
.footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    font-size: 100%;
}

.footer h2 {
    font-size: 130%;
}
